/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.popup-window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
  transition: 0.13s;
}
.popup {
  width: 100%;
  max-width: 738px;
  background: #ffffff;
  border: 1px solid #dee2e6;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 23px 40px;
  position: relative;
  transition: 0.13;
}
.popup__close-btn {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
  transition: 0.13s;
  cursor: pointer;
}
.popup__close-btn:hover {
  filter: brightness(0.5);
}
.popup__close-btn:active {
  transform: translateY(2px);
}
.popup__heading {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #54595e;
}
.popup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.popup-form__label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  /* Dark / Medium */
  color: #4f4f4f;
}
.popup-form__input {
  width: 100%;
  margin-bottom: 36px;
  padding: 13.5px 16px;
  background: #ffffff;
  /* Grey / Dark */
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* Grey / Darker */
  color: #acacac;
  transition: 0.13s;
}
.popup-form__input:focus {
  outline: none;
  border: 1px solid #7c7c7c;
  color: #000;
}
.popup-form__menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}
.popup-form__cancel-btn {
  cursor: pointer;
  padding: 10px 63px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Gray / 700 */
  color: #344054;
  /* Base / White */
  background: #ffffff;
  /* Gray / 300 */
  border: 1px solid #d0d5dd;
  /* Shadow / xs */
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  transition: 0.13s;
  cursor: pointer;
}
.popup-form__cancel-btn:active {
  transform: translateY(2px);
}
.popup-form__cancel-btn:hover {
  background-color: #344054;
  color: #fff;
}
.popup-form__confirm-btn {
  cursor: pointer;
  padding: 10px 58px;
  background: #7f56d9;
  /* Primary / 600 */
  border: 1px solid #7f56d9;
  /* Shadow / xs */
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  /* Base / White */
  color: #ffffff;
  transition: 0.13s;
  cursor: pointer;
}
.popup-form__confirm-btn:hover {
  background: none;
  color: #7f56d9;
}
.popup-form__confirm-btn:active {
  transform: translateY(2px);
}

.popup-window--hidden {
  visibility: hidden;
  opacity: 0;
}

.header {
  width: 100%;
  height: 72px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e7e7ed;
}
.header .wrapper {
  justify-content: space-between;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-right: 20px;
}
.logo-link__logo{
  width: 32px;
  height: 32px;
}
.profile-link {
  padding-left: 20px;
}
.profile-link__avatar {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 50%;
}

.find-form {
  width: 100%;
  max-width: 838px;
}
.find-form__input {
  width: 100%;
  height: 40px;
  background-color: #f1f2f5;
  border: 1px solid #e7e7ed;
  border-radius: 4px 0px 0px 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #272833;
  padding: 8px 16px;
  transition: 0.13s;
  background-image: url(/assets/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 12px center;
}
.find-form__input:focus {
  outline: none;
  border: 1px solid #7c7c7c;
}

.main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.sidebar {
  width: 22.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
}

.page-list {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-link {
  padding: 8px 0px;
  display: flex;
  align-items: center;
  gap: 32px;
  transition: 0.13s;
}
.page-link:hover {
  filter: brightness(0.65);
}
.page-link__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #6b6c7e;
}

.content {
  width: 70%;
  border-right: 1px solid #e7e7ed;
  padding-right: 8px;
}
.content__header {
  width: 100%;
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #6b6c7e;
}

.content-menu-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: 0.13s;
}
.content-menu-btn:hover {
  filter: brightness(0.5);
}
.content-menu-btn:active {
  transform: translateY(2px);
}
.content-menu-btn__title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #6b6c7e;
}
.folders-list {
  width: 100%;
  margin-top: 24px;
}
.folders-list__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13.5px 55px 13.5px 0;
}

.folder-list-filter-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: 0.13s;
}
.folder-list-filter-btn:hover {
  filter: brightness(0.5);
}
.folder-list-filter-btn:active {
  transform: translateY(2px);
}
.folder-list-filter-btn__title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  display: flex;
  align-items: center;
  /* Secondary/$secondary */
  color: #6b6c7e;
}
.folder-list-filter-btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.folder-list-filter-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  display: flex;
  align-items: center;
  /* Secondary/$secondary */
  color: #6b6c7e;
}

.folder-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 17.5px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #e7e7ed;
}
.folder-item__icon {
  margin-right: 32px;
}
.folder-item__icon * {
  width: 16px;
  height: 16px;
}
.folder-item__heading {
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #272833;
  cursor: pointer;
}
.folder-item__date {
  margin-right: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6b6c7e;
}
.folder-item__delete-btn {
  transition: 0.13s;
  cursor: pointer;
}
.folder-item__delete-btn:hover {
  filter: brightness(0.5);
}
.folder-item__delete-btn:active {
  transform: translateY(2px);
}/*# sourceMappingURL=style.css.map */
