<form (ngSubmit)="resetPassword(forgotPasswordForm.value)" [formGroup]="forgotPasswordForm">
  <header class="header">
    <div>
      <img src="assets/images/Login.png" alt="sing_in" class="sing_in">
    </div>
    <div>
      <img src="assets/images/logo.png" alt="logo" class="logo">
      <h1 class="h1">Password recovery</h1>
      <div class="group1">
        <label>Email Id:</label>
        <input formControlName="mail" type="email" placeholder="   Ivanov@mail.ru">
      </div>
      <p class="dop">...</p>
      <button type="submit" class="recovery">Send new password to email</button>
    </div>
  </header>
</form>
